import(stats,graphics,grDevices,utils,methods)
import(spatstat.utils,spatstat.data)
import(spatstat.geom,spatstat.random)
import(spatstat.explore,spatstat.model,spatstat.linnet)
import(spatstat)
import(rpanel,tcltk)

# Export all names
exportPattern("^[[:alpha:]]+")

# Methods 
S3method("iplot", "ppp")
S3method("iplot", "layered")
S3method("iplot", "linnet")
S3method("iplot", "lpp")
S3method("iplot", "default")
